
\.gradle/2\.14/taskArtifacts/

\.gradle/

\.settings/

bin/assets/spawnprotection/lang/

bin/com/kreezcraft/spawnprotection/

bin/

build/tmp/makeStart/extracted/

eclipse/\.recommenders/caches/

eclipse/\.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/

gradle/wrapper/

gradlew

run/

*.launch

*.bat

*.properties
