/bin/
/eclipse/
/gradle.properties
/gradlew
/gradlew.bat
/spawnprotection_Client.launch
/spawnprotection_Server.launch
/build/
/gradle/
/run/

\.gradle/2\.14/taskArtifacts/

\.gradle/

\.settings/

\.classpath
